yfinance==0.2.32
seaborn==0.13.0
tqdm==4.66.1
streamlit==1.28.2
streamlit-aggrid==0.3.4.post3
streamlit-autorefresh==1.0.1
plotly==5.18.0
newspaper3k==0.2.8
gspread==5.12.0
oauth2client==4.1.3
pandas==1.1
